<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxb.dd.mapper.AccountMapper">

    <select id="selectUserByMail" resultType="com.yxb.dd.model.dto.UserDTO">
        SELECT id,
                user_name as username,
                password,
                salt,
                user_role_id as userRoleId,
                mail,
                tel,
                pwd_fail_count as pwdFailCount,
                is_locked as locked
        FROM user
        WHERE mail = #{mail}
    </select>

    <select id="selectUserList" resultType="com.yxb.dd.model.dto.UserDTO">
        SELECT id,
                user_name as username,
                user_role_id as userRoleId,
                mail,
                tel,
                is_locked as locked
        FROM user
    </select>

    <select id="selectUserById" resultType="com.yxb.dd.model.dto.UserDTO">
        SELECT id,
                user_name as username,
                password,
                salt,
                user_role_id as userRoleId,
                mail,
                tel,
                pwd_fail_count as pwdFailCount,
                is_locked as locked
        FROM user
        WHERE id = #{id}
    </select>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id" parameterType="com.yxb.dd.model.dto.UserDTO">
        INSERT INTO user(user_name, password, salt, user_role_id, mail, tel)
        VALUES (#{username}, #{password}, #{salt}, #{userRoleId}, #{mail}, #{tel})
    </insert>

    <update id="updateUserForLogin" parameterType="com.yxb.dd.model.dto.UserDTO">
        UPDATE user
        SET pwd_fail_count = #{pwdFailCount},
            is_locked = #{locked}
        WHERE id = #{id}
    </update>

    <select id="selectUserRoleList" resultType="com.yxb.dd.model.dto.UserRoleDTO">
        SELECT id,
                role_name as roleName
        FROM user_role
    </select>

    <update id="updateUserById" parameterType="com.yxb.dd.model.dto.UserDTO">
        UPDATE user
        SET user_name = #{username},
            user_role_id = #{userRoleId},
            tel = #{tel}
        WHERE id = #{id}
    </update>

    <delete id="deleteUserById" parameterType="java.math.BigInteger">
        DELETE FROM user
        WHERE id = #{id}
    </delete>

</mapper>