<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
    <div id="errMsg">
        <span style="color: #FF0000" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION ne null} ? ${session.SPRING_SECURITY_LAST_EXCEPTION.message} : 'Error!'"></span>
    </div>
    <form th:action="@{/login}" method="post">
        邮箱:<input name="txtMail" type="text" />
        密码:<input name="txtPassword" type="password" />
        <button type="submit">submit</button>
    </form>
</body>
</html>