<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragment::head(#{login.title})}">
</head>

<body>
<div class="container">
    <form class="form-signin" th:action="@{/login}" method="post">
        <p style="color: #FF0000" th:if="${session.SPRING_SECURITY_LAST_EXCEPTION ne null}" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></p>
        <label th:text="#{login.lblMail}" class="sr-only">Email address</label>
        <input type="email" name="txtMail" class="form-control" placeholder="Email address" th:value="'admin@163.com'" />
        <label th:text="#{login.lblPassword}" class="sr-only">Password</label>
        <input type="password" name="txtPassword" class="form-control" placeholder="Password" th:value="123456" />
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{common.btnSubmit}">Sign in</button>
    </form>
</div>
</body>
</html>
